.list-of-titles {
  box-sizing: border-box;
  padding-left: 8px;
  padding-bottom: 5rem;
  padding-top: 5px !important;
  padding-right: 0px !important;
  height: 86.5vh;
  overflow-y: auto;
}

.list-of-titles::-webkit-scrollbar {
  width: 0.5rem;
}

.list-of-titles::-webkit-scrollbar-thumb {
  max-height: 50px !important;
  visibility: hidden;
  background-color: rgba(217, 217, 227, 0.8);
  border-color: rgba(255, 255, 255, var(--tw-border-opacity));
  border-radius: 9999px;
  border-width: 1px;
}

.list-of-titles:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.title-in-list {
  display: flex;
  align-items: center;
  padding: 0.75rem;
  cursor: pointer;
  border-radius: 5px;
  gap: 0.75rem;
  padding-right: 1rem !important;
  position: relative;
}

.title-in-list svg {
  height: 1rem !important;
  width: 1rem !important;
  display: inline-block;
  vertical-align: middle;
}

.title-in-list:hover {
  background-color: rgba(42, 43, 50);
}

.title-name {
  white-space: nowrap;
  overflow: hidden;
}

.titles-three-dot {
  margin-left: auto;
}

.titles-three-dot:hover {
  transform: scale(1.2);
}

.title-options {
  position: absolute;
  z-index: 10;
  background: rgb(65, 65, 69);
  border-radius: 5px;
  padding: 0.75rem;
  right: 0;
  top: 35px;
}

.toggle-edit {
  display: flex;
  align-items: center;
  padding: 5px 0;
}

.toggle-delete {
  display: flex;
  align-items: center;
  padding: 5px 0;
}
