.new-chat-ground {
}

.new-chat-container {
  width: 60%;
  margin: auto;
  padding: 1rem 0;
}

.new-chat-ground-header {
  margin-top: 20vh;
  margin-bottom: 2rem;
  font-size: 2.2rem;
  font-weight: 600;
  color: green;
  text-align: center;
  width: 100%;
}

.new-chat-ground-text {
  font-size: 20px;
  color: rgba(236, 236, 241, 0.8);
  text-align: center;
}

.new-chat-ground-text a {
  color: rgba(236, 236, 241, 0.9);
  text-decoration: underline;
}

@media screen and (max-width: 728px) {
  .new-chat-container {
    width: 70%;
  }
}
